body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.side-bar{
    height: 100%;
    flex : 1;

    display: flex;
    justify-content: center;
    align-items: center;

}
#myForm{
    border: solid 1px black;
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.top-bar{
    position: absolute;
    bottom: 100;
}

.main{
    flex : 2;
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    place-items: center;
}

.grid-container {
    display: grid;
    place-items: center;
}

#canvas {
    border: solid 1px black;
    height: 800px;
    width: 1000px;
}

.button1{
    border: 0;
    outline: 0;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 80, 102);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
    :hover {
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    }
}